#ball{
    position:fixed;
    width:15px;
    aspect-ratio:1/1;
    background:#000;
    border-radius:50%;
    box-shadow: inset 0 0 10px rgb(121, 0, 0);
   }


#container {
    gap:2px;
    display:grid;
    grid-template-rows:100px 387px auto ;
   
    height: 500px;
    width: 700px;
    border: 7px solid;
    position:relative;
   
}   



#square {
 
    grid-row:2;
    
    }

#boxes {
    position:absolute;
    height:20px;
    width: 50px;
    background-color: red;
    border: 2px black solid;
    box-shadow: inset 0 0 5px rgb(121, 0, 0);
}

#barBox {
    grid-row:3;
 
}

#bar {
    position:relative;
    height:7px;
    width:150px;
    
    background-color: rgb(126, 126, 126);
    border-radius: 10%;
     box-shadow: inset 0 0 7px rgb(95, 95, 95);
}

#deletedBall {
    display:none;
}

  
@keyframes rotate {
   from {opacity:100%}
   to {transform: rotate(3000deg);
        width:0;
        height:0;
        opacity: 0%;}
}

#deleteSquare {
    display:none;
}


